#root {
  background-image: url('./src/images/bg.jpg');

  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;

}

.overlay {
  position: fixed;
  z-index: -0;
  background-image: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Press Start 2P', cursive;
}

.title {
  z-index: 1;
  padding-bottom: 40px;
  font-size: larger;
  border-radius: 12;
}

.box-green {
  z-index: 1;
}

header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00875F;
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  padding-bottom: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  width: 100%;
  max-width: 800px;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  background-color: #29292e;
  border-radius: 12px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #00875F;
  border-radius: 12px;
  transition: all 2000ms ease;
}

.front {
  transform: rotateY(180deg);

}

.back {
  background-image: url('./src/images/back.png');

  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-Card {
  filter: saturate(0);
  opacity: 0.5;
}

.reiniciar {

  z-index: 9;
  background-color: #00875F;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.reiniciar:hover {
  background-color: #05aa78;
}